
########  Ognidove Location  ########
home_latitude: XX.XXXX
home_longitude: X.XXXXXX
home_elevation: XXX

######  Telegram Chats/Groups  ########
telegram_kermode_api_key: "XXXXXXXXXXXXXXX"
telegram_kermode_chat_id: XXXXXXXXX

########  Weather Integration  ########
openweathermap_api_key: "XXXXXXXXXXXX"

######  Shelly Devices  ########
shelly_caldaia_switch_device_id: XXXXXXXXXX
shelly_caldaia_switch_entity_id: XXXXXXXXXXXXXX